@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
  scrollbar-color: #22d3ee #0f172a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
